*{
	font-family:arial
}
.container {
	width:80%;
	margin : 15px auto;
	padding: 0 15px;
}
.column{
	display:flex;
	flex-direction:column;
}
.row{
	display:flex;
	flex-direction:row;
}
.form{
	background-color:#EEE;
	border:none;
	text-align:center;
	padding:30px;
}
.data{
	background-image:linear-gradient(#EEE,#FFF);
	margin:10px 0;
	padding:20px;
}
.data a {
	text-decoration:none;
}
.data h2{
	width:30%;
	color:#333;
}
button.delete{
	width:80%;
}



.btn{
	padding:10px 15px;
	font-size:15px;
	margin:15px 5px;
	cursor: pointer;
	border-radius:5px;
	max-width:fit-content;
}
.btn:hover{
	box-shadow: 2px 5px 3px 0px #888;
}
.btn-primary{
	background-color:#1167c4;
	color:white;
	border:1px solid #1167c4;
	
}
.btn-primary:hover {
	background-color:#0a3f77;
	border: 1px solid #0a3f77;
}
.btn-danger {
	background-color:#910004;
	color:white;
	border : 1px solid #910004;
}
.btn-danger:hover{
	background-color:#510d0e;
	border: 1px solid #510d0e;
}

.btn-info{
	background-color:#139692;
	COLOR:white;
	border:1px solid #139692;
}
.btn-info:hover{
	background-color:#0a6865;
	border:1px solid #0a6865;
}

header .container{
	color:#AAA;
	padding:20px;
	border-bottom: 1px solid #999;
	font-size:25px;
}
footer .container{
	padding:20px;
	border-top: 1px solid #999;
	font-size:14px;
}
footer p {
	color:#AAA;
}

